@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --breakpoint-3xl: 1720px;

    --font-heading: 'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif;
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-text: #111827;
    --color-background: #f9fafb;
    --color-primary: #DC2626;
    --color-secondary: #991B1B;
    --color-accent: #16a34a;
    --color-cta: #fef9c3;
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-heading);
    }
    body {
        font-family: var(--font-sans);
    }
}

.cont{
    @apply  max-w-[1700px] mx-[4vw] sm:mx-[6vw] md:mx-[7vw] lg:mx-[8vh] 2xl:mx-[9vh] 3xl:mx-auto!
}
.conp{
    @apply  max-w-[1800px] px-[4vw] sm:px-[6vw] md:px-[7vw] lg:px-[8vh] 2xl:px-[9vh]
}

@utility scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

